a {
    text-decoration: none;
    color: black;
}

.detail_main {
    height: 680px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.detail_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.detail_top {
    width: 100%;
    height: 100%;
    max-width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.detail_top {
    width: 100%;
    height: 280px;
}

.detail_top img {
    width: 100%;
    height: 480px;
}

.detail_right {
    z-index: 50;
    position: fixed;
    right: 100px;
    top: 200px;
    width: 280px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
}

.detail_right > .box {
    padding: 20px;
}

.totalProducts {
}

.totalProducts > .name {
    display: flex;
}


.quantity {
}

.down {
}