* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

.layout_log_menu {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-start;
    padding-right: 30px;
    font-size: 14px;
    margin-bottom: 100px;
}

.layout_log_menu .wrapper .menu_ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.log_box .sub_menu {
    position : absolute;
    display: none;
    padding: 20px 0;
}

.log_box:hover .sub_menu {
    display: block;
} 

.menu_ul li {
    padding-left: 50px;
}

.container .wrapper {
    width: 100%;
    max-width: 1380px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.layout_left {
    position: fixed;
    left: 0;
    top: 0;
    width: 290px;
    height: 100%;
}

.layout_left .menu_wrapper {
    width: 290px;
    padding: 50px;
}

.layout_left .menu_wrapper .logo {
    margin: 0 0 50px;
}

.cs_center li {
    list-style: none;
    font-size: 12px;
    line-height: 30px;
}

.menu_list .category_list {
    font-size: 12px;
    padding: 10px;
    line-height: 25px;
}

.menu_list ul li {
    list-style: none;
}